In [28]:
import pandas as pd

In [29]:
# from pandas.tseries.frequencies import to_offset

In [30]:
df = pd.read_csv('vnindex.csv')

In [31]:
df['T'] = pd.to_datetime(df['T'])

In [32]:
df['V'] = pd.to_numeric(df['V'])#.map('${:,}'.format).replace({'\$': ''}, regex=True)

In [33]:
df = df.set_index('T')

In [34]:
# D, W, MS, AS: day, week, month, year
df_resampled = df.resample('AS').agg({'O': 'first',
                                      'H': 'max',
                                      'L': 'min',
                                      'C': 'last',
                                      'V': 'sum'
                                      }).dropna()

In [35]:
# only week
# df_resampled.index = df_resampled.index + to_offset(pd.DateOffset(days=1))

In [36]:
df_resampled

                  O        H       L        C             V
T
2000-01-01   100.00   206.83  100.00   206.83       3662790
2001-01-01   210.56   571.04  203.12   235.40      19721930
2002-01-01   231.70   231.70  174.62   183.33      33864229
2003-01-01   183.41   183.41  130.90   166.94      43570733
2004-01-01   167.69   280.53  167.69   239.29     218459433
2005-01-01   238.39   325.25  232.41   307.50     299188456
2006-01-01   306.86   809.86  304.23   751.77     927480948
2007-01-01   741.27  1170.67  741.27   927.02    2269128044
2008-01-01   921.07   921.07  284.06   315.62    3137656351
2009-01-01   312.49   633.21  234.66   494.77   10596639614
2010-01-01   501.74   551.40  420.04   484.66   10663707287
2011-01-01   485.72   529.20  346.48   351.55    6599708707
2012-01-01   351.37   492.44  332.28   413.73   11663578558
2013-01-01   415.50   533.15  413.68   504.63   14844200610
2014-01-01   505.61   644.56  503.04   545.63   28389359708
2015-01-01   545.43   641.06  511.13   579.03   25402937519
2016-01-01   579.03   692.17  513.82   664.87   28395227108
2017-01-01   665.92   990.10  665.43   984.24   42483012823
2018-01-01   986.05  1211.34  880.85   892.54   42111676300
2019-01-01   900.10  1028.97  861.85   960.99   42208353154
2020-01-01   960.26  1108.83  649.10  1103.87   88599273601
2021-01-01  1113.77  1424.28  998.33  1342.06  119959890562

In [37]:
# df_resampled.to_csv('vnindex_Y.csv')